*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  
}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

body{
  background: #1E201E;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}